@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap');

.navbar {
  font-size: 18px;
  font-family: Copperplate, Papyrus, fantasy;
  background-color: #ECEFF1;
  height: 9vh;
}

.navnavlink {
  color: black;
}

.navnavlink:hover {
  color: black;
}

.navgithub:hover,
.navlinkedin:hover {
  animation: bounce 0.3s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.landingimg {
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  height: 80vh;
  max-width: 100vw;
  background-size: cover;
}

.welcomesign {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 100px;
  display: flex;
  margin-left: 60px;
  padding-top: 70px;
  justify-content: left;
  flex-direction: column;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

.tomy {
  margin-left: 150px;
  display: flex;
  justify-content: flex-start;
}

.portfolio {
  margin-left: 300px;
  display: flex;
  justify-content: left;
}

@keyframes fadeIn {
  to {
    opacity: 3;
  }
}

.sectionheaders {
  margin-top: 50px;
  font-size: 50px;
  font-family: Copperplate, Papyrus, fantasy;
  text-align: center;
}

.aboutme1 {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skillssection {
  background-image: linear-gradient(to right, rgb(224, 232, 234), rgb(140, 186, 200), rgb(35, 124, 151));
  height: 100vh;
}

.skills1,
.skills2,
.skills3 {
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 65vh;
  text-align: center;
  margin-bottom: 60px;
}

div.card-title {
  font-size: 22px;
}

div.card-subtitle {
  font-size: 14px;
}

div.card-body {
  font-family: Copperplate, Papyrus, fantasy;
  background-color: rgb(224, 232, 234);
  padding: 10px;
}

img#projectimg {
  width: 100%;
  height: 350px;
}

p.moreinfo {
  font-size: 13px;
  font-style: italic;
}

p.card-text {
  border: 2px solid white;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px;
}

a.card-link {
  color: black;
  box-shadow: inset 0 0 0 0 white;
  transition: color .7s ease-in-out, box-shadow .7s ease-in-out;
}

a.card-link:hover {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  box-shadow: inset 150px 0 0 0 white;
}

.contactsection {
  background-image: linear-gradient(to right, rgb(224, 232, 234), rgb(140, 186, 200), rgb(35, 124, 151));
  height: 30vh;
}

.contacticons {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emaillogo,
.linkedlogo,
.githublogo {
  padding: 10px;
  margin: 0 20px;
  box-shadow: inset 0 0 0 0 white;
  color: black;
  transition: color .7s ease-in-out, box-shadow .7s ease-in-out;
}

.emaillogo:hover,
.linkedlogo:hover,
.githublogo:hover {
  color: black;
  box-shadow: inset 100px 0 100px 0 white;
}

.email,
.linked,
.git {
  font-family: Copperplate, Papyrus, fantasy;
  text-align: center;
}

.footer {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 16px;
  padding: 25px;
  height: 9vh;
  background-color: #ECEFF1;
}